body, html{margin:0; padding:0; font-family: "prenton",sans-serif; font-style: normal; font-weight:300; font-size:.95em; color:#656565; line-height:1.4em;}

div.clear{clear:both; height:0px; font-size:0px; line-height:0px;}
a img{border:0;}
p{padding:8px 0; margin:0;}
a{color: #c2d358; text-decoration:none;}
a:hover{color:#4668b0; text-decoration:underline;}

h1{margin:0; padding:12px 0; font-size:36px; line-height:1.1em; font-weight:normal; color:#c2d358; font-family: "franklin-gothic-urw-comp",sans-serif; font-style: normal; font-weight: 700;}
h2{margin:0; padding:15px 0 5px 0; font-size:26px; font-weight:normal; color:#000; font-family: "franklin-gothic-urw-comp",sans-serif; font-style: normal; font-weight: 700;}
h3{font-family: "franklin-gothic-urw-comp",sans-serif; font-style: normal; font-weight: 700; font-size:20px;}
h4{font-family: "franklin-gothic-urw-comp",sans-serif; font-style: normal; font-weight: 700; font-size:18px;}
h5{font-family: "franklin-gothic-urw-comp",sans-serif; font-style: normal; font-weight: 700; font-size:16px;}

body#bg{}

.wrapper{width:980px; margin:auto; position:relative;}

#header{background:#4c4d4f;}
	#logo{width:300px; height:58px; float:left; padding:17px 0 17px 25px;}
	#menu{float:right; width:650px; padding-top:40px;}

#menu{position:relative; z-index:999;}
#menu ul{display:block; margin:0; padding:0; float:right; font-size:1.3em; font-family: "franklin-gothic-urw-comp",sans-serif; font-style: normal; font-weight: 400;}
	#menu li{display:block; float:left; margin:0; padding:0;}
	#menu li a{padding:5px 18px 5px 12px; color:#fff; text-decoration:none;}
	#menu li a:hover{color:#e7e7e7;}
	#menu li.active a{color:#b3c82f;}
	
#banner{}

#main{padding:15px 0;}

.flexslider{margin-bottom:0!important;}
#hm-tbl{}
td.cnt{width:320px;}
td.circle {width:162px;}
td.circle div{width:169px; font-size:.9em; line-height:1.4em; height:195px; background:url(../images/circle.png) no-repeat; padding:50px 20px 0 53px;}
td.circle div p a{font-weight:bold;}
td.circle h3{font-weight:bold; padding:0; margin:0;}
td.circle2{width:340px;}
td.circle2 a{display:block; padding-left:85px; color:#656565; margin:8px 0 15px; font-size:.9em; line-height:1.4em;}
td.circle2 a:hover{text-decoration:none;}
td.circle2 a strong{font-size:1.2em; display:block; margin-bottom:8px;}
td.circle2 a span{display:block;}
td.circle2 a.brands{background:url(../images/brands.png) no-repeat left; padding-top:8px; padding-bottom:8px;}
td.circle2 a.brands strong{color:#586c99;}
td.circle2 a.sell{background:url(../images/supply.png) no-repeat 0px 5px;}
td.circle2 a.sell strong{color:#c2d358;}
	
#footer{padding:20px 0 40px 0; border-top:1px solid #c1c1c1; margin-top:25px; font-size:.9em; position: relative;}
	.fb h3{text-transform:uppercase; font-weight:400; color:#2d467e; font-size:1.2em;}
	.fb{float:left; width:16.5%;}
	.fb ul{list-style-type:none; margin:10px 0; padding:0;}
	.fb ul li{padding:1px 0 1px 0;}
	#footer a{color:#656565;}
	#footer a:hover{color:#2d467e; text-decoration:underline;}	
	#flogo{float:right;}
	.copyr{clear:right; text-align:right;}
	#fline{background:#929292; height:8px; border-left:90px solid #2d467e; margin-top:15px;}
	
.rightcontent{float: right;
width: 400px;
padding: 0 0 0 15px;
text-align: center;}
.rightcontent img {
padding: 6px 0;
}
img.d-logo {
display: block;
float: right;
margin: 0 400px 0 0;
}
.chronoform{display:none;}
textarea{width:209px; height:100px; margin-left:2px;}

/* buttons */
p.cta a{display:block; padding:5px 10px; border:1px solid #2c457d; text-decoration:none; width:170px; text-align: center; margin: auto; color:#ffffff; background:#2c457d;}
p.cta a:hover{background:#395aa3; color:#ffffff;}

/* Eight Product Images, June 2016 */

.caption-style-2{
		list-style-type: none;
		margin: 0px;
		padding:20px 0;
		
	}

	.caption-style-2 li{
		float: left;
		padding: 0px;
		position: relative;
		overflow: hidden;
	}

	.caption-style-2 li:hover .caption{
		opacity: 1;
		transform: translateY(-70px);
		-webkit-transform:translateY(-70px);
		-moz-transform:translateY(-70px);
		-ms-transform:translateY(-70px);
		-o-transform:translateY(-70px);

	}


	.caption-style-2 img{
		margin: 0px;
		padding-left: 5px;
padding-bottom: 5px;
		float: left;
		z-index: 4;
	}


	.caption-style-2 .caption{
		cursor: pointer;
		position: absolute;
		opacity:1;
		top:178px;
		-webkit-transition:all 0.15s ease-in-out;
		-moz-transition:all 0.15s ease-in-out;
		-o-transition:all 0.15s ease-in-out;
		-ms-transition:all 0.15s ease-in-out;
		transition:all 0.15s ease-in-out;

	}
	.caption-style-2 .blur{
		background-color: rgba(255,255,255,0.7);
		height:240px;
		width:240px;
padding-left: 5px;
padding-bottom: 5px;
		z-index: 5;
		position: absolute;
	}

	.caption-style-2 .caption-text h3{
		margin:0; padding:5px 0 10px 0;
		font-size:20px;
		color: #586c99;
	}
	.caption-style-2 .caption-text{
		z-index: 10;
		color: #000;
		position: absolute;
		width:240px;
		height:240px;
		text-align:left;
		padding:20px;
		box-sizing:border-box;
	}

/* Icons on homepage */

.caption-style-3{
		list-style-type: none;
		margin: 0px;
		padding:10px 0;
		
	}

	.caption-style-3 li{
		float: left;
		padding: 0px;
		position: relative;
		overflow: hidden;
	}

	.caption-style-3 img{
		margin: 0px;
		padding-left: 90px;
                padding-right: 90px;
padding-bottom: 70px;
		float: center;
		z-index: 4;
	}


	.caption-style-3 .caption{
		cursor: pointer;
		position: absolute;
		opacity:1;
		top:130px;
		
	}
	.caption-style-3 .blur{
		background-color: rgba(255,255,255,0.7);
		height:240px;
		width:240px;
padding-left: 5px;
padding-bottom: 5px;
		z-index: 5;
		position: absolute;
	}

	.caption-style-3 .caption-text h1{
		margin-top: 50px; 
                padding-top: 50px;
		
	}
	.caption-style-3 .caption-text{
		z-index: 10;
		color: #000;
		position: absolute;
		width:323px;
		height:150px;
		text-align:center;
		padding-left:90px;
                padding-right: 90px;
		box-sizing:border-box;
}



/* 2nd Level Menu */

#menu li ul { left: -999em; z-index:999; width:205px; font-size:.95em; margin:0; padding:10px; position:absolute; background:#5f6063; box-shadow:2px 10px 33px -10px #000; moz-box-shadow:2px 10px 33px -10px #000; -webkit-box-shadow:2px 10px 33px -10px #000; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px;}
#menu li ul li{padding:0;}
#menu li:hover ul, #menu li.hover ul { left: auto; margin:0;}
#menu li ul a{color:#e5e5e5; background-image:none!important; padding:9px 8px; font-size:1em; text-align:left; width:195px; text-transform:none;}
#menu li ul a:hover{color:#fff;}
#menu li li{ border:none; float:none; clear:both;}

a#mob-only{display:none; float:right; color:#ffffff; text-decoration:none; font-weight:bold; background:url(../images/bg-sitenav.png) no-repeat center right; width:60px; height:40px;}
	
/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 1020px) {
		.wrapper{width:auto;}
		#header{padding:10px;}
		
		img{max-width:100%; height:auto;}
		
		#footer{padding:15px;}
		
		.fb{width:25%; float:left;}
		
		/* mobile menu */
		a#mob-only{display:block;}
		#menu {position:relative; width:auto; padding-top:7px;}
		#menu ul{display:none; position:absolute; width:135px; top:42px; right:6px; background:#868686; padding:5px; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px;}
		#menu ul li{float:none;}
		#menu ul li a{color:#fff; text-align:left; padding:7px; display:block;}
		#menu ul li.login a{color:#ffa154;}
		#menu ul ul{position:static; padding:0 5px 10px 5px; width:auto; left:auto; background:none; box-shadow:none; moz-box-shadow:none; -webkit-box-shadow:none;}
		#menu ul ul li{padding-left:3px;}
		#menu ul ul a{width:auto;}
		
		#menu ul li li a{padding:3px 7px;}
		
		#logo{padding:0;}
}
	@media only screen and (max-width: 1020px) {
ul.caption-style-2{display:block; text-align:center;}
ul.caption-style-2 li{display:inline-block; width:auto; float:none; margin:10px;}

	}
	@media only screen and (max-width: 700px) {
		.fb{width:auto; float:none;}
		#main{padding:10px 15px;}
		td{display:block; width:auto!important;}
		ul.caption-style-2 li{display:inline-block; width:auto; float:none; margin:3px;}
}

	@media only screen and (max-width: 440px) {
		#logo{width:75%; height:auto;}	
}


/*Comparative Quote style*/

.cfdiv_checkboxgroup label, .cfdiv_radio label{width: 90px;}
.cus-form {max-width: 430px;}
.choice-cc {display:block; float:left;}

